/*FORMULARIO*/
.login_container{
	border-radius:25px;
	width: 480px;
	max-width: 80vw;
	padding: 10px ;
	margin: auto;
	
	background: #ffb4b4;
}

form{
	margin: 5px;
}

.field_inputs{
	border-radius: 15px;

	padding: 10px 20px 15px 20px;

	background-color: #ff9292;
	box-shadow: inset 5px 5px 8px #f07f7f;
}

.field_inputs p{
	margin: 10px 0 3px 0;
}

.field_inputs input{
	width: 99vw;
	height: 25px;
	
	background: none;
	border: 0;
	border-bottom: 1px solid #c54d4d;
	
	margin-bottom: 10px;
	
}

/*RADIO*/
.radio_inputs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;

	margin: 10px 0 10px 0;
}

.radio_inputs label{
	display: flex;
	margin: 5px 10px 5px 0;
}

.radio_inputs span{
	margin-left: 10px;
}

@media screen and (max-width: 480px){
	.radio_inputs{
		flex-direction: column;
		left :-webkit-calc(50% - 50px);
	}
}


/*CHECK BOX LIST DROPDOWN*/
.dropdown-checks{
	width: 300px;
	max-width: 70vw;

	margin: 0 auto;
	margin-top: 10px; 
	margin-bottom:  10px ;
}


.select-box select{
	width: 100%;
	background: none;
}

.overSelect{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

#mains{
	display: none;
	flex-direction: column;

	padding: 5px;
	margin: 5px 10px 10px 10px;
	border-radius: 5px;

	box-shadow: 5px 5px 10px #ff9292;

	background-color: #ffdcdc;
}

#mains label{
	display: flex;
}

#mains label:hover{
	background-color: cadetblue;
}

input[type=submit]{
	margin: 0 auto;
	padding: 2px 15% 2px 15%;
}