
*{
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	display: block;
}

/*FORMULARIO*/
.login_container{
	border-radius:25px;
	width: 480px;
	max-width: 80vw;
	padding: 10px ;
	margin: auto;
	
	background: #ffb4b4;
}

form{
	margin: 5px;
}

.field_inputs{
	border-radius: 15px;

	padding: 10px 20px 15px 20px;
	background-color: #ff9292;
	box-shadow: inset 5px 5px 8px #f07f7f;
}

.field_inputs p{
	font-size: 13pt;
	
	margin: 10px 0 3px 0;
}

.field_inputs input{
	width: 99vw;
	height: 25px;
	font-size: 12pt;
	
	outline: 0;
	background: none;
	border: 0;
	border-bottom: 1px solid #c54d4d;
	
	margin-bottom: 10px;
	
}

/*RADIO*/
.radio_inputs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;

	margin: 10px 0 10px 0;
}

.radio_inputs label{
	display: flex;
	margin: 5px 10px 5px 0;
}

.radio_inputs label span{
	font-size: 12pt;
	margin-left: 10px;
}

@media screen and (max-width: 480px){
	.radio_inputs{
		flex-direction: column;
		left :-webkit-calc(50% - 50px);
	}
}


/*CHECK BOX LIST DROPDOWN*/
.dropdown-checks{
	width: 300px;
	max-width: 80vw;
	
	margin: 0 auto;
	margin-top: 10px; 
	margin-bottom:  10px ;
}


.select-box select{
	font-size: 12pt;
	width: 100%;
	border-radius: 5px;
	padding: 5px;

	appearance: none;
	background-image: url("images/hamburger_button_menu_icon_155296.png");
	background-repeat: no-repeat;
	background-position: right 3px center;
	background-size: 25px;

	border: none;
}

.overSelect{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

#mains{
	display: none;
	flex-direction: column;

	padding: 5px;
	margin: 5px 10px 10px 10px;
	border-radius: 5px;

	box-shadow: 5px 5px 10px #ff9292;

	background-color: #ffdcdc;
}

#mains label{
	display: flex;
	padding: 5px ;
	margin: 2px 1px 2px 20px;
	border-radius: 3px;
}

#mains label:hover{
	background-color: #ff9292;
}

input[type=submit]{
	margin: 0 auto;
	padding: 2px 15% 2px 15%;
}