/*
back #b1defa
title #89a1b0
#C2D2FF
back articulo #fcd1d1
paragraph #ece2e1
alt 1 - #44AECF
background: linear-gradient(#046582,#83989e);

Legacy post
background-color: #FFC2D4;
background-color: #FFF2CF;
background-color: #FEDEE3;

nav background-color: #FFF2CF;*/


html{
	background-color: #ABEBFF;
}

*{
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	display: block;
}

/*TITULO*/
.web_name{
	background: #ff9292;

	text-align: center;
	border-radius:50px;
	font-size: large;

	padding: 10px;
	margin: 10px 20% 10px 20%;
}

/*ICONOS*/
.icons{
	background: #ffb4b4;

	border-radius: 50%;
	width: 100px;
	height: 100px;
	
	position: relative;
	left :-webkit-calc(50% - 50px);
}

.icons img {
	width: 55%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*NAVEGACION*/
ul {
	border-radius: 10px;
	padding-left: 15px;
	margin: 10px;

	list-style-type: none;
	overflow: hidden;

	background-color: #FDFFB6;
  
}

li{
	float: left;
}

li a {
	color: black;
	text-align: center;
	text-decoration: none;
	
	display: block;
	border-radius: 10px;
	padding: 5px 16px;
	margin: 5px 5% 5px 5%;
}

li a:hover {
  	background-color: #D2CFFF;
	box-shadow: 0px 2px 5px #fad9ad;
}


/*
	phone
	@media screen and (max-width: 480px){
		#aa00{
			margin: 10px 10px 10px 10px;
		}
	}

	tablet
	@media screen and (min-width: 481px){
		#aa00{
			margin: 10px 15% 10px 15%;
		}
	}

	laptop
	@media screen and (min-width: 769px){
		#aa00{
			margin: 10px 20% 10px 20%;
		}
	}
*/


/*INTRODUCCIÓN BASE*/
#aa00{
	border-radius:10px;
	width: 480px;
	max-width: 90vw;
	padding: 10px ;
	margin: auto;
	
	background: #ffb4b4;
}

#aa00 title{
	border-radius: 5px;
	padding: 10px;
	box-shadow: 2px 3px 10px rgba(209, 75, 75, 0.411);
	
	background-color: #FDFFB6;
}

#aa00 p{
	font-size: 11pt;
	
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-left: 30px;
	box-shadow: 2px 3px 10px rgba(209, 75, 75, 0.411);
	
	background-color: #ffdcdc;
}

/*ARTICULOS DE POST*/
.articulo{
	border-radius:10px;
	padding: 20px 20px 20px 20px;
	margin: 10px 30px 10px 30px;
	
	/*
	box-shadow: inset -2px -2px 2px rgba(228, 78, 78, 0.411),
				inset 2px 2px 2px #ffe2e2;
	*/
	background: #ffb4b4;
}

.articulo title{
	font-size: 13pt;
	font-weight: bold;
	border-radius:10px;
}

.articulo p{
	font-size: 11pt;
	
	border-radius:5px;
	padding: 10px;
	margin: 5px 0 0 15px;
	
	box-shadow: inset 3px 3px 3px rgba(226, 67, 67, 0.411);
	background:  #ffdcdc;
}

